
.q-pagination {
  .q-btn { min-width:30px !important;
    &:before { box-shadow:none !important; }
    &--flat { color:$dark !important; }
    &.disabled { cursor:default !important; opacity:.35 !important; pointer-events:none !important; }
  }
}
